/*navBar*/
A:link {text-decoration:none; color:#646464;}
A:visited {text-decoration:none; color:#646464;}
A:active {text-decoration:none; color:#646464;}



.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #ff6600;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: bold;
}

.navulSub {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #ffcc99;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: bold;
}

.countFontColor {
  color: #ff6600;
}


.navli {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:"Segoe UI",Arial,sans-serif; 
  font-weight: bold;
  color: rgb(255, 255, 255);
}
/*navBar*/



/*pagination*/
li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

ul.pagination {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0 ;
    background-color: #f3f3f3;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*페이지 네이션 중앙정렬 div*/
.paginationDiv {

	width: 100%;
	margin: 0 auto;
  text-align: center;

  
}
/*pagination
http://www.daks.me/css3_pagination.php
http://www.daks.me/try.php?filename=trycss3_pagination5.php
*/





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  opacity: 0.8;
}


.sidenav a {
  padding: 5%;
  text-decoration: none;
  font-size: 2.0vw;
  font-size: 2.0vh;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}




.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




/* DivTable.com div로 테이블 만들기  */
.divTable{
  display: table;
  width: 100%;
  margin-top: 3%;
  border-top: 1px solid #a0a0a0;

  table-layout: fixed;/*20210428 추가*/
}

.divTableDetail{
  display: table;
  width: 100%;
  margin-top: 3%;
 

  table-layout: fixed;/*20210428 추가*/
}

.divTableRow {
  display: table-row;
  height: 80%;
  width: 100%;
  border-bottom: 1px soli d#a0a0a0;
}

div.divTableRow:hover {

  background-color: #d8d8d8;
}

.divTableCell {

  display: table-cell;
  vertical-align: middle;
  padding-left: 1.5%;
  padding-bottom: 0.2%;
  padding-top: 0.2%;
  border-bottom: 1px solid #a0a0a0;
  word-wrap: break-word;

  line-height: 85%;/*20210428 추가*/


}

.divTableCellDetail {

  display: table-cell;
  vertical-align: middle;
  padding-left: 1.5%;
  padding-bottom: 0.2%;
  padding-top: 0.2%;
  border-bottom: 1px solid #a0a0a0;
  word-wrap: break-word;


}

.divTableCell02 {

  display: table-cell;
  vertical-align: middle;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: 1px solid #a0a0a0;
   background-color: #eeecec;
  word-wrap: break-word;

}
.divTableCell  a:hover {
  text-decoration: underline;
  color: red;
}
/* rgb(168, 230, 186);*/
.divTableRowTh {
  display: table-row;
 
  height: 35px;
  width: 100%;
  /*border-bottom: 1px solid #a0a0a0;*/
}

.divTableCellTh {

  display: table-cell;
  vertical-align: middle;
  padding-left: 3%;
}



/*
divImageCell,divTableImageCell 세트이다.
width와 height를 동일하게 지정해 주어야 한다.
*/
.divTableImageCell {

  display: table-cell;
  vertical-align: middle;
  width: 80px;
  height: 60px;

  border-bottom: 1px solid #a0a0a0;
  background-color: #eeecec;


}

.divImageCell {

  width: 80px;
  height: 60px;
  overflow: hidden;


}





.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
  display: table-row-group;
  height: 100%;
}

/*DivTable.com div로 테이블 만들기 */



/*이미지를 반응형으로 하기 위하여 img 테그는 전체다 이렇게..*/
img {
  width:100%;
  height:auto;
}



/*footer css
  footerSub와 footer의 height는 동일해야 한다.
*/
.ft {
  position: fixed;
  z-index: 101;
  padding: 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  background: #4f7ac0;
  overflow: hidden;
 
}

.footerSub {

  width: 100%;
  height: 50px;
} 


.footer {
  /* position: sticky;*/
  /* position: relative;*/
  /* position: fixed;*/
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 opacity: 0.5;
 text-align: center;
 height: 50px;

}

.footer a:link {
  color: #111;
}





.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/*header 부분
이력, fm 코리아에서 가져온 것이고 해당 css코드의 정확한
      기능은 나도 잘 모른다.
*/
.hd {
  position:relative;
  z-index:1;
  min-height:28px;
  line-height:28px;
  padding:6px;
  margin:0 0 1px 0;
  border-bottom:2px solid #ffcc99;
  /*background:#ff6600;*/
  background:#e25a00;


}

 
 .hd .h1 {
   float:left;
   display:inline;
   color:#fff;
   font-size:24px;
   margin:0;
   font-weight:700;

   display: flex;

  }

  .fr {
    display: flex;
    justify-content:flex-end;
  }


 .hd .mu {
   display:inline-block;
   height:26px;
   line-height:26px;
   padding:0 10px;
   font-size:12px;
   font-weight:700;
   color:#fff;
   text-decoration:none
  }
  /*header 부분*/

  /*nav 부분
  이력, fm 코리아에서 가져온 것이고 해당 css코드의 정확한
        기능은 나도 잘 모른다.
  */
  .navInfo{
    padding: 5px;
    background: #ffdfbb;
    font-size: 12px;
  }

  .navInfo a {
    display: inline-block;
    margin: 3px;
    padding: 5px 7px;
    border-radius: 5px;
    /*background: #ff6600;*/
    background: #e25a00;
    color: #fff!important;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }

  .navInfo a:active {
    color: white;
    background-color: #4CAF50;
  }
  /*nav 부분*/
 
  .bestSpan {
    display: inline-block;
    margin: 3px;
    padding: 5px 7px;
    border-radius: 5px;
    /*background: #ff6600;*/
    background:#e25a00 ;
    color: #fff!important;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }

  /*제목이 너무 길 경우 ... 로 자름
  abbreviation : 줄임말
  */
  .abbreviation {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .abbreviationMultiple {

    /* 한 줄 자르기 */ 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;


    /* 여러 줄 자르기 추가 스타일 */ 
    white-space: normal; 
    line-height: 1.2; 
    height: 2.4em; 
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp:2; 
    -webkit-box-orient: vertical;
  }


  /*이미지 */
  .dot {
    width:60px;
    height:60px;
    background-color:orangered;
    color:white;
    font-size:3rem;
    line-height:60px;
    display: inline-block;
  }
  
  .dot-wrapper {
     text-align:center;
 
 
  
  }